extends ../layouts/base.pug

block styles
    link(rel="stylesheet", href="/css/products")
    link(rel="stylesheet", href="/css/forms")

block content
    main
        if errMsg
            #errMsg
        if editing
            -var action = "/admin/edit-product"
            -var btnTxt = "Edit Product"
            -var prodId = product._id
            -var title = product.title
            -var img = product.image
            -var price = product.price
            -var desc = product.desc
        else
           -var action = "/admin/add-product"
            -var btnTxt = "Add Product"
        if validationErrors.find(e => e.param === 'title')
            -var titleErr = true
        if validationErrors.find(e => e.param === 'image')
            -var imageErr = true
        if validationErrors.find(e => e.param === 'price')
            -var priceErr = true
        if validationErrors.find(e => e.param === 'desc')
            -var descErr = true
        if errMsg
            .user-message.user-message--error #{errMsg}
        form.product-form(action=action, method="POST", enctype="multipart/form-data")
            input(type="hidden", name="_csrf", value=csrfToken)
            .form-control
                label(for="title") Title: 
                input(class=titleErr ? 'invalid' : '', type="text", name="title", id="title", value=title)
            .form-control
                label(for="image") Image Upload: 
                input(type="file", name="image", id="image")
            .form-control
                label(for="price") Price: 
                input(class=priceErr ? 'invalid' : '', type="text", name="price", id="price", step="0.01", value=price)
            .form-control
                textarea(class=descErr ? 'invalid' : '', name="desc", cols="30", rows="10", id="desc", placeholder="Description") #{desc}
            if editing
                input(type="hidden", value=prodId, name="prodId")
            button.btn(type="submit") #{btnTxt}